.header {
	box-shadow: none !important;
	border-bottom: 1px solid lightgray;
}

.header-elements {
	display: flex;
	justify-content: space-between;
}

.header-btn-txt {
	text-decoration: none;
	color: black;
}